/* ========================================================================================= */
/* ====================================== Blue #0087F7 ===================================== */
/* ========================================================================================= */
:root {
    /* csslint ignore:start */
    --primary-color: #0087f7;
    --secondary-color: #2b9fff;
    --tertiary-color: #78c2ff;
    /* csslint ignore:end */
}


.resp-tabs-container h1 {
    background: url(../images/arrows-h3/arrow-blue-h3.png) no-repeat 0 3px;
}



@media only screen and (max-width: 800px) {
    .icon_menu_active, ul.menu-primary>li:hover i, ul.menu-primary>li i:hover {
        background: #fff !important;
        color: #0087F7 !important;
        transition-property: background-color;
        transition-duration: 0.3s;
        transition-timing-function: linear;
    }

    h2.resp-accordion {
        background: #0087F7 !important;
    }

    h2.resp-accordion:hover {
        background: rgba(0, 135, 247, 0.8) !important;
    }

    h2.resp-tab-active {
        background: rgba(0, 135, 247, 0.8) !important;
    }
}

.skillbar-title, .skillbar-bar {
    background: rgba(0, 135, 247, 0.8);
}


#sidebar-right .search-blog i,
#sidebar-left .search-blog i {
    background: #0087F7;
}
