/* ========================================================================================= */
/* ========================================= gray #888 ===================================== */
/* ========================================================================================= */
:root {
    --primary-color: #888;
    --secondary-color: #c8c8c8;
    --tertiary-color: #c8c8c8;
}



.resp-tabs-container h1 {
    background: url(../images/arrows-h3/arrow-gray-h3.png) no-repeat 0px 3px;
}



@media only screen and (max-width: 800px) {
    .icon_menu_active, ul.menu-primary>li:hover i, ul.menu-primary>li i:hover {
        background: #fff !important;
        color: #888 !important;
        transition-property: background-color;
        transition-duration: 0.3s;
        transition-timing-function: linear;
    }

    h2.resp-accordion {
        background: #888 !important;
    }

    h2.resp-accordion:hover {
        background: rgba(136, 136, 136, 0.8) !important;
    }

    h2.resp-tab-active {
        background: rgba(136, 136, 136, 0.8) !important;
    }
}

.skillbar-title, .skillbar-bar {
    background: rgba(136, 136, 136, 0.8);
}
