<div class="col-md-3 widget-profil">
    <div class="row">

        <!-- Profile Image -->
        <div class="col-lg-12 col-md-12 col-sm-3 col-xs-12 ">

            <div class="image-holder one" id="pic_prof_1" style="display:none">

                <img class="head-image up circle" src="http://placehold.it/150x150" width="150" height="150" alt="" />
                <img class="head-image up-left circle" src="http://placehold.it/150x150" width="150" height="150"
                    alt="" />
                <img class="head-image left circle" src="http://placehold.it/150x150" width="150" height="150" alt="" />
                <img class="head-image down-left circle" src="http://placehold.it/150x150" width="150" height="150"
                    alt="" />
                <img class="head-image down circle" src="http://placehold.it/150x150" width="150" height="150" alt="" />
                <img class="head-image down-right circle" src="http://placehold.it/150x150" width="150" height="150"
                    alt="" />
                <img class="head-image right circle" src="http://placehold.it/150x150" width="150" height="150"
                    alt="" />
                <img class="head-image up-right circle" src="http://placehold.it/150x150" width="150" height="150"
                    alt="" />
                <img class="head-image front circle" src="http://placehold.it/150x150" width="150" height="150"
                    alt="" />

            </div>

            <!-- style for simple image profile -->
            <div class="circle-img" id="pic_prof_2"></div>

        </div>
        <!-- End Profile Image -->

        <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">

            <!-- Profile info -->
            <div id="profile_info">
                <h1 id="name" class="transition-02">{{name}}</h1>
                <h4 class="line">{{title}}</h4>
                <h6><span class="fa fa-map-marker"></span>&nbsp;{{location}}</h6>
            </div>
            <!-- End Profile info -->


            <!-- Profile Description -->
            <div id="profile_desc">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac risus
                    nibh. Donec adipiscing luctus tur
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing eli
                </p>
            </div>
            <!-- End Profile Description -->
            <div id="profile_social">
                <h6>My Social Profiles</h6>

                <app-social-media></app-social-media>

            </div>
        </div>

    </div>
</div>