<div class="view view-first portfolio {{project.category}}" [attr.data-cat]="project.category">
    <img [src]="project.thumbnail" />
    <div class="mask">
        <h2>{{project.name}}</h2>
        <div [innerHTML]="project.description | keepHtml"></div>

        <!-- <a href="http://placehold.it/600x849" rel="portfolio" class="info open-imag">
            <i class="fa fa-search"></i>
        </a> -->
        <a href="{{project.website}}?width=800&amp;height=500&amp;iframe=true" rel="portfolio" class="info external">
            <i class="fa fa-link"></i>
        </a>
    </div>
</div>