<!-- .title_content -->
<div class="title_content" style="float: none;">
    <div class="text_content">Designs skills</div>
    <div class="clear"></div>
</div>
<!-- /.title_content -->

<div class="skills">
    <!-- .skillbar -->
    <div class="skillbar clearfix" data-percent="95%">
        <div class="skillbar-title"><span>Photoshop</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">95%</div>
    </div>

    <!-- /.skillbar -->

    <!-- .skillbar -->
    <div class="skillbar clearfix" data-percent="90%">
        <div class="skillbar-title"><span>Illustrateur</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">90%</div>
    </div>
    <!-- /.skillbar -->

    <!-- .skillbar -->
    <div class="skillbar clearfix" data-percent="65%">
        <div class="skillbar-title"><span>Indesign</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">65%</div>
    </div>
    <!-- /.skillbar -->

    <!-- .skillbar -->
    <div class="skillbar clearfix" data-percent="35%">
        <div class="skillbar-title"><span>Flash</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">35%</div>
    </div>
    <!-- /.skillbar -->
</div>


<!-- .title_content -->
<div class="title_content" style="float: none;">
    <div class="text_content">Programming Skills</div>
    <div class="clear"></div>
</div>
<!-- /.title_content -->

<div class="skills">
    <!-- .skillbar -->
    <div class="skillbar clearfix" data-percent="85%">
        <div class="skillbar-title"><span>Wordpress</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">85%</div>
    </div>
    <!-- /.skillbar -->

    <!-- .skillbar -->
    <div class="skillbar clearfix" data-percent="75%">
        <div class="skillbar-title"><span>Joomla</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">75%</div>
    </div>
    <!-- /.skillbar -->

    <!-- .skillbar -->
    <div class="skillbar clearfix" data-percent="60%">
        <div class="skillbar-title"><span>Drupal</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">60%</div>
    </div>
    <!-- /.skillbar -->

    <!-- .skillbar -->
    <div class="skillbar clearfix" data-percent="89%">
        <div class="skillbar-title"><span>Php</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">89%</div>
    </div>
    <!-- /.skillbar -->
</div>


<!-- .title_content -->
<div class="title_content" style="float: none;">
    <div class="text_content">Office Skills</div>
    <div class="clear"></div>
</div>
<!-- /.title_content -->

<div class="skills">
    <!-- .skillbar -->
    <div class="skillbar clearfix" data-percent="85%">
        <div class="skillbar-title"><span>MS Excel</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">85%</div>
    </div>
    <!-- /.skillbar -->

    <!-- .skillbar -->
    <div class="skillbar clearfix " data-percent="95%">
        <div class="skillbar-title"><span>MS Word</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">95%</div>
    </div>
    <!-- /.skillbar -->

    <!-- .skillbar -->
    <div class="skillbar clearfix " data-percent="60%">
        <div class="skillbar-title"><span>Powerpoint</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">60%</div>
    </div>
    <!-- /.skillbar -->

    <!-- .skillbar -->
    <div class="skillbar clearfix " data-percent="40%">
        <div class="skillbar-title"><span>SharePoint</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">40%</div>
    </div>
    <!-- /.skillbar -->
</div>


<!-- .title_content -->
<div class="title_content" style="float: none;">
    <div class="text_content">Hobbies Skills</div>
    <div class="clear"></div>
</div>
<!-- /.title_content -->

<div class="skills">
    <!-- .skillbar -->
    <div class="skillbar clearfix" data-percent="60%">
        <div class="skillbar-title"><span>Music</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">60%</div>
    </div>
    <!-- /.skillbar -->

    <!-- .skillbar -->
    <div class="skillbar clearfix " data-percent="95%">
        <div class="skillbar-title"><span>Sport</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">95%</div>
    </div>
    <!-- /.skillbar -->

    <!-- .skillbar -->
    <div class="skillbar clearfix " data-percent="85%">
        <div class="skillbar-title"><span>Reading</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">85%</div>
    </div>
    <!-- /.skillbar -->

    <!-- .skillbar -->
    <div class="skillbar clearfix " data-percent="70%">
        <div class="skillbar-title"><span>Travelling</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">70%</div>
    </div>
    <!-- /.skillbar -->
</div>


<!-- .title_content -->
<div class="title_content" style="float: none;">
    <div class="text_content">Language Skills</div>
    <div class="clear"></div>
</div>
<!-- /.title_content -->

<div class="skills">
    <!-- .skillbar -->
    <div class="skillbar clearfix" data-percent="90%">
        <div class="skillbar-title"><span>English</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">90%</div>
    </div>
    <!-- /.skillbar -->

    <!-- .skillbar -->
    <div class="skillbar clearfix " data-percent="80%">
        <div class="skillbar-title"><span>French</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">80%</div>
    </div>
    <!-- /.skillbar -->

    <!-- .skillbar -->
    <div class="skillbar clearfix " data-percent="50%">
        <div class="skillbar-title"><span>Spanish</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">50%</div>
    </div>
    <!-- /.skillbar -->

    <!-- .skillbar -->
    <div class="skillbar clearfix " data-percent="60%">
        <div class="skillbar-title"><span>Swiss</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">60%</div>
    </div>
    <!-- /.skillbar -->
</div>