<!-- .portfolio -->
<div id="portfolio" class="content_2">
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->

    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catGraphic catMotion logo">All</span>
            </li>
            <li><span class="filter" data-filter="catWeb">Web Design</span></li>
            <li><span class="filter" data-filter="catGraphic">Graphic
                    Design</span></li>
            <li><span class="filter" data-filter="catMotion">Motion
                    Graphic</span></li>
            <li><span class="filter" data-filter="logo">Logo</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">


            <div class="view view-first portfolio logo" data-cat="logo">
                <img src="http://placehold.it/220x165" />
                <div class="mask">
                    <h2>Project Name</h2>
                    <p>A wonderful serenity has taken possession of my entire
                        soul.</p>

                    <a href="http://placehold.it/600x849" rel="portfolio" class="info open-imag">
                        <i class="fa fa-search"></i>
                    </a>

                </div>
            </div>

            <div class="view view-first portfolio catWeb" data-cat="catWeb">
                <img src="http://placehold.it/220x165" />
                <div class="mask">
                    <h2>Project Name</h2>
                    <p>A wonderful serenity has taken possession of my entire
                        soul.</p>

                    <a href="http://placehold.it/600x849" rel="portfolio" class="info open-imag">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="http://www.youtube.com/watch?v=c9MnSeYYtYY" rel="portfolio" class="info external"><i
                            class="fa fa-play"></i></a>
                </div>
            </div>

            <div class="view view-first portfolio catWeb" data-cat="catWeb">
                <img src="http://placehold.it/220x165" />
                <div class="mask">
                    <h2>Project Name</h2>
                    <p>A wonderful serenity has taken possession of my entire
                        soul.</p>

                    <a href="http://placehold.it/600x849" rel="portfolio" class="info open-imag">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="http://themeforest.net/item/flexyvcard-responsive-vcard-template-/7158750?WT.ac=solid_search_thumb&amp;WT.seg_1=solid_search_thumb&amp;WT.z_author=flexycodes?width=800&amp;height=500&amp;iframe=true"
                        rel="portfolio" class="info external">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>

            <div class="view view-first portfolio catMotion" data-cat="catMotion">
                <img src="http://placehold.it/220x165" />
                <div class="mask">
                    <h2>Project Name</h2>
                    <p>A wonderful serenity has taken possession of my entire
                        soul.</p>

                    <a href="http://placehold.it/600x849" rel="portfolio" class="info open-imag">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="http://themeforest.net/?width=800&amp;height=500&amp;iframe=true" rel="portfolio"
                        class="info external"><i class="fa fa-link"></i></a>
                </div>
            </div>

            <div class="view view-first portfolio catWeb" data-cat="catWeb">
                <img src="http://placehold.it/220x165" />
                <div class="mask">
                    <h2>Project Name</h2>
                    <p>A wonderful serenity has taken possession of my entire
                        soul.</p>

                    <a href="http://placehold.it/600x849" rel="portfolio" class="info open-imag">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="http://vimeo.com/7449107" rel="portfolio" class="info external"><i
                            class="fa fa-play"></i></a>
                </div>
            </div>

            <div class="view view-first portfolio catMotion" data-cat="catMotion">

                <img src="http://placehold.it/220x165" />
                <div class="mask">
                    <h2>Project Name</h2>
                    <p>A wonderful serenity has taken possession of my entire
                        soul.</p>

                    <a href="http://placehold.it/600x849" rel="portfolio" class="info open-imag">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="http://themeforest.net/user/flexycodes" target="_blank" class="info external"><i
                            class="fa fa-link"></i></a>
                </div>
            </div>

            <div class="view view-first portfolio catGraphic" data-cat="catGraphic">
                <img src="http://placehold.it/220x165" />
                <div class="mask">
                    <h2>Project Name</h2>
                    <p>A wonderful serenity has taken possession of my entire
                        soul.</p>

                    <a href="http://placehold.it/600x849" rel="portfolio" class="info open-imag">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="http://themeforest.net/user/flexycodes" target="_blank" class="info external"><i
                            class="fa fa-link"></i></a>
                </div>
            </div>

            <div class="view view-first portfolio logo" data-cat="logo">
                <img src="http://placehold.it/220x165" />
                <div class="mask">
                    <h2>Project Name</h2>
                    <p>A wonderful serenity has taken possession of my entire
                        soul.</p>

                    <a href="http://placehold.it/600x849" rel="portfolio" class="info open-imag">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="http://themeforest.net/user/flexycodes" target="_blank" class="info external"><i
                            class="fa fa-link"></i></a>
                </div>
            </div>

            <div class="view view-first portfolio catWeb" data-cat="catWeb">
                <img src="http://placehold.it/220x165" />
                <div class="mask">
                    <h2>Project Name</h2>
                    <p>A wonderful serenity has taken possession of my entire
                        soul.</p>

                    <a href="http://placehold.it/600x849" rel="portfolio" class="info open-imag">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="http://themeforest.net/user/flexycodes" target="_blank" class="info external"><i
                            class="fa fa-link"></i></a>
                </div>
            </div>

            <div class="view view-first portfolio catGraphic" data-cat="catGraphic">
                <img src="http://placehold.it/220x165" />
                <div class="mask">
                    <h2>Project Name</h2>
                    <p>A wonderful serenity has taken possession of my entire
                        soul.</p>

                    <a href="http://placehold.it/600x849" rel="portfolio" class="info open-imag">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="http://themeforest.net/user/flexycodes" target="_blank" class="info external"><i
                            class="fa fa-link"></i></a>
                </div>
            </div>

            <div class="view view-first portfolio logo" data-cat="logo">
                <img src="http://placehold.it/220x165" />
                <div class="mask">
                    <h2>Project Name</h2>
                    <p>A wonderful serenity has taken possession of my entire
                        soul.</p>

                    <a href="http://placehold.it/600x849" rel="portfolio" class="info open-imag">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="http://themeforest.net/user/flexycodes" target="_blank" class="info external"><i
                            class="fa fa-link"></i></a>
                </div>
            </div>

            <div class="view view-first portfolio logo" data-cat="logo">
                <img src="http://placehold.it/220x165" />
                <div class="mask">
                    <h2>Project Name</h2>
                    <p>A wonderful serenity has taken possession of my entire
                        soul.</p>

                    <a href="http://placehold.it/600x849" rel="portfolio" target="_blank" class="info open-imag">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="http://themeforest.net/user/flexycodes" class="info external"><i
                            class="fa fa-link"></i></a>
                </div>
            </div>

            <div class="view view-first portfolio catGraphic" data-cat="catGraphic">
                <img src="http://placehold.it/220x165" />
                <div class="mask">
                    <h2>Project Name</h2>
                    <p>A wonderful serenity has taken possession of my entire
                        soul.</p>

                    <a href="http://placehold.it/600x849" rel="portfolio" class="info open-imag">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="http://themeforest.net/user/flexycodes" target="_blank" class="info external"><i
                            class="fa fa-link"></i></a>
                </div>
            </div>

            <div class="view view-first portfolio logo" data-cat="logo">
                <img src="http://placehold.it/220x165" />
                <div class="mask">
                    <h2>Project Name</h2>
                    <p>A wonderful serenity has taken possession of my entire
                        soul.</p>

                    <a href="http://placehold.it/600x849" rel="portfolio" class="info open-imag">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="http://themeforest.net/user/flexycodes/portfolio" target="_blank" class="info external"><i
                            class="fa fa-link"></i></a>
                </div>
            </div>

            <div class="view view-first portfolio catGraphic" data-cat="catGraphic">
                <img src="http://placehold.it/220x165" />
                <div class="mask">
                    <h2>Project Name</h2>
                    <p>A wonderful serenity has taken possession of my entire
                        soul.</p>

                    <a href="http://placehold.it/600x849" rel="portfolio" class="info open-imag">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="http://themeforest.net/user/flexycodes" target="_blank" class="info external"><i
                            class="fa fa-link"></i></a>
                </div>
            </div>


            <div class="clear"></div>

        </div>
        <!-- #images/portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->