@media only screen and (max-width: 991px) {
  .resp-vtabs .resp-tabs-container {
    margin-left: 13px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 991px) {
  .resp-vtabs .resp-tabs-container {
    margin-left: 13px;
    width: 89%;
  }
}

@media only screen and (max-width: 800px) {
.resp-vtabs .resp-tabs-container {
    border: none;
    float: none;
    width: 100%;
    min-height: initial;
    clear: none;
    height: 100%;
}
}