<div *ngIf="education">
    <div class="title_content">
        <div class="text_content">Education</div>
        <div class="clear"></div>
    </div>
    <!-- /.title_content -->

    <!-- .attributes -->
    <ul class="attributes">
        <li class="first">
            <h5>Master of Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2011 -
                    2013</span></h5>
            <h6><span class="fa fa-book"></span> Name of University</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus
                sit amet ligula non lectus cursus egestas. Cras erat
                lorem, fringilla quis sagittis in, sagittis inNam leo
                tortor Nam leo tortor Vivamus.</p>
        </li>
        <li>
            <h5>Bachelor of Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2010 -
                    2011</span></h5>
            <h6><span class="fa fa-book"></span> Name of University</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus
                sit amet ligula non lectus cursus egestas. Cras erat
                lorem, fringilla quis sagittis in, sagittis inNam leo
                tortor Nam leo tortor Vivamus.</p>
        </li>
    </ul>
</div>