ul.menu {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  float: left;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 579px;
  line-height: 25px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-block-end: 10px;
  margin-block-start: 0px;
  margin-bottom: 10px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-inline-start: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-size-adjust: 100%;
  vertical-align: baseline;
  width: 67.5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul.menu > li {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(59, 89, 152);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  float: left;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 76px;
  line-height: 25px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 17px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 17px;
  text-align: center;
  text-size-adjust: 100%;
  vertical-align: baseline;
  width: 76px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul.menu > li.resp-tab-active,
ul.menu > li:hover {
  color: #3b5998;
  background-color: rgb(255, 255, 255);
/*
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255) !important;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;

  background-size: auto;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px;
  box-sizing: border-box;
  color: rgb(59, 89, 152) !important;
  cursor: pointer;
  display: block;
  float: left;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 76px;
  line-height: 25px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 17px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 17px;
  text-align: center;
  text-size-adjust: 100%;
  transition-delay: 0s;
  transition-duration: 0.6s;
  transition-property: all;
  transition-timing-function: ease-in;
  vertical-align: baseline;
  width: 76px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

ul.menu > li > a:hover,
ul.menu > li > a:active {
  /* color: #3b5998; */
  /* background-color: rgb(255, 255, 255); */
/*
  background-attachment: scroll;
  background-clip: border-box;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background: 0 0;
  text-decoration: none !important;
  background-size: auto;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(255, 255, 255);
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  float: left;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 76px;
  line-height: 25px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: -1px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 17px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 17px;
  position: relative;
  text-align: center;
  text-size-adjust: 100%;
  vertical-align: baseline;
  width: 76px;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

ul.menu > li > a > i:hover,
ul.menu > li > a:active > i {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(59, 89, 152) !important;
/*
  background-attachment: scroll;
  background-clip: border-box;

  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;

  background-size: auto;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-sizing: border-box;

  cursor: pointer;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 22px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 42px;
  line-height: 43px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  position: relative;
  text-align: center;
  text-size-adjust: 100%;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.3s, 0.3s, 0.3s;
  transition-property: background, color, box-shadow;
  transition-timing-function: ease, ease, ease;
  width: 42px;
  z-index: 2;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}


@media only screen and (max-width: 800px) {
  ul.menu {
      display: none;
  }
}