<ul class="menu resp-tabs-list">
    <li (click)="go('/profile')" [class.resp-tab-active]="isActive('/profile')" class="resp-tab-item">
        <a>
            <i class="fa fa-user icon_menu" [class.icon_menu_active]="isActive('/profile')" ></i>
        </a>
    </li>

    <li (click)="go('/resume')" [class.resp-tab-active]="isActive('/resume')" class="resp-tab-item">
        <a>
            <i class="fa fa-tasks icon_menu" [class.icon_menu_active]="isActive('/resume')"></i>
        </a>
    </li>
<!--
    <li (click)="go('/portfolio')" [class.resp-tab-active]="isActive('/portfolio')" class="resp-tab-item">
        <a>
            <i class="fa fa-briefcase icon_menu" [class.icon_menu_active]="isActive('/portfolio')"></i>
        </a>
    </li>

    <li (click)="go('/blog')" [class.resp-tab-active]="isActive('/blog')" class="resp-tab-item">
        <a [routerLink]="['/blog']">
            <i class="fa fa-bullhorn icon_menu" [class.icon_menu_active]="isActive('/blog')"></i>
        </a>
    </li>

    <li (click)="go('/contact')" [class.resp-tab-active]="isActive('/contact')" class="resp-tab-item" style="margin-bottom: 48px !important;">
        <a [routerLink]="['/contact']">
            <i class="fa fa-envelope icon_menu" [class.icon_menu_active]="isActive('/contact')"></i>
        </a>
    </li> -->

    <!-- <a href="#" id="print"><i class="fa fa-print icon_print resp-vtabs"></i> </a>
    <a href="#" id="download"><i class="fa fa-download icon_print resp-vtabs"></i></a> -->

</ul>