<ul class="resp-tabs-list">
    <li class="resp-tab-item  {{active('/profile', 'li')}}">
        <a [routerLink]="['/profile']">
            <i class="fa fa-user icon_menu {{active('/profile')}}"></i>
        </a>
    </li>

    <li class="resp-tab-item {{active('/resume', 'li')}}">
        <a [routerLink]="['/resume']">
            <i class="fa fa-tasks icon_menu {{active('/resume')}}"></i>
        </a>
    </li>

    <li class="resp-tab-item {{active('/portfolio', 'li')}}">
        <a [routerLink]="['/portfolio']">
            <i class="fa fa-briefcase icon_menu {{active('/portfolio')}}"></i>
        </a>
    </li>

    <li class="resp-tab-item {{active('/blog', 'li')}}">
        <a [routerLink]="['/blog']">
            <i class="fa fa-bullhorn icon_menu {{active('/blog')}}"></i>
        </a>
    </li>

    <li class="resp-tab-item {{active('/contact', 'li')}}" style="margin-bottom: 48px !important;">
        <a [routerLink]="['/contact']">
            <i class="fa fa-envelope icon_menu {{active('/contact')}}"></i>
        </a>
    </li>

    <a href="#" id="print"><i class="fa fa-print icon_print resp-vtabs"></i> </a>
    <a href="#" id="download"><i class="fa fa-download icon_print resp-vtabs"></i>
    </a>

</ul>