/* ========================================================================================= */
/* ==================================== DarkBlue #3B5998 =================================== */
/* ========================================================================================= */
:root {
  --primary-color: #3b5998;
  --secondary-color: #4c70ba;
  --tertiary-color: #839ccf;
}



#contactform .submit:hover,
#comment_form .submit:hover {
  webkit-filter: brightness(98%) !important;
}


a.readmore:hover,
a.readmore:focus,
a.readmore:active {
  border: 1px solid #3b5998;
  background-color: #3b5998;
}

a.readmore:hover,
a.readmore:focus,
a.readmore:active {
  border: 1px solid #3b5998;
  background-color: #3b5998;
}


.download:hover span,
.download:focus span {
  background: #3b5998;
}

.download span,
.ch-info .ch-info-back {
  background: #3b5998;
}

.resp-tabs-container h1 {
  background: url(../images/arrows-h3/arrow-DarkBlue-h3.png) no-repeat 0px 3px;
}


#contactform .submit,
#comment_form .submit {
  background-color: #3b5998;
}

#section-title,
#categories_sidebar ul.categories li a:hover {
  background: #3b5998;
}

h2.resp-accordion:hover .hi-icon,
.no-touch .hi-icon-effect-5 .hi-icon:hover {
  border: 1px solid #3b5998 !important;
}

@media only screen and (max-width: 800px) {

  .icon_menu_active,
  .icon_menu_hover,
  .resp-tab-item:hover .icon_menu {
    /* background: #fff !important; */
    /* color: #3b5998 !important; */
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
  }

  h2.resp-accordion {
    background: #3b5998 !important;
  }

  h2.resp-accordion:hover {
    background: rgba(59, 89, 152, 0.8) !important;
  }

  h2.resp-tab-active {
    background: rgba(59, 89, 152, 0.8) !important;
  }
}

.title_content:after,
.icon_content {
  background: #3b5998;
}

.panel-default>.panel-heading {
  color: #fff;
  background-color: #3b5998;
}

.skillbar-title,
.skillbar-bar {
  background: rgba(59, 89, 152, 0.8);
}

.portfolio .label-bg,
#filters li span.active {
  background: #3b5998;
}

.portfolio .label-bg,
#filters li span:hover {
  background: #3b5998;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#sidebar-right .search-blog i,
#sidebar-left .search-blog i {
  background: #3b5998;
}


#blog .post_media .post-format-icon {
  background: #3b5998;
}