/* ========================================================================================= */
/* ======================================= Green #B1CD00 =================================== */
/* ========================================================================================= */
:root {
    /* csslint ignore:start */
    --primary-color: #b1cd00;
    --secondary-color: #e0ff1b;
    --tertiary-color: #e0ff1b;
    /* csslint ignore:end */
}




.resp-tabs-container h1 {
    background: url(../images/arrows-h3/arrow-green-h3.png) no-repeat 0 3px;
}




h2.resp-accordion:hover .hi-icon,
.no-touch .hi-icon-effect-5 .hi-icon:hover {
    border: 1px solid #B1CD00 !important;
}

@media only screen and (max-width: 800px) {
    .icon_menu_active, ul.menu-primary>li:hover i, ul.menu-primary>li i:hover {
        background: #fff !important;
        color: #B1CD00 !important;
        transition-property: background-color;
        transition-duration: 0.3s;
        transition-timing-function: linear;
    }

    h2.resp-accordion {
        background: #B1CD00 !important;
    }

    h2.resp-accordion:hover {
        background: rgba(177, 205, 0, 0.8) !important;
    }

    h2.resp-tab-active {
        background: rgba(177, 205, 0, 0.8) !important;
    }
}

.skillbar-title, .skillbar-bar {
    background: rgba(177, 205, 0, 0.8);
}
