/* ========================================================================================= */
/* ====================================== Orange #FF4343 =================================== */
/* ========================================================================================= */
:root {
    --primary-color: #ff4343;
    --secondary-color: #ff6f69;
    --tertiary-color: #ffb8b6;
}


.resp-tabs-container h1 {
    background: url(../images/arrows-h3/arrow-orange-h3.png) no-repeat 0px 3px;
}



@media only screen and (max-width: 800px) {
    .icon_menu_active, ul.menu-primary>li:hover i, ul.menu-primary>li i:hover {
        background: #fff !important;
        color: #FF4343 !important;
        transition-property: background-color;
        transition-duration: 0.3s;
        transition-timing-function: linear;
    }

    h2.resp-accordion {
        background: #FF4343 !important;
    }

    h2.resp-accordion:hover {
        background: rgba(255, 67, 67, 0.8) !important;
    }

    h2.resp-tab-active {
        background: rgba(255, 67, 67, 0.8) !important;
    }
}

.skillbar-title, .skillbar-bar {
    background: rgba(255, 67, 67, 0.8);
}
