/* ========================================================================================= */
/* ===================================== Yellow #FDB000 ==================================== */
/* ========================================================================================= */
:root {
    /* csslint ignore:start */
    --primary-color: #fdB000;
    --secondary-color: #ffc031;
    --tertiary-color: #ffe7b1;
    /* csslint ignore:end */
}



/* .ch-info-prof {
    background: rgba(76, 173, 252, 0.6);
} */

.resp-tabs-container h1 {
    background: url(../images/arrows-h3/arrow-yellow-h3.png) no-repeat 0 3px;
}



@media only screen and (max-width: 800px) {
    .icon_menu_active, ul.menu-primary>li:hover i, ul.menu-primary>li i:hover {
        background: #fff !important;
        color: #FDB000 !important;
        transition-property: background-color;
        transition-duration: 0.3s;
        transition-timing-function: linear;
    }

    h2.resp-accordion {
        background: #FDB000 !important;
    }

    h2.resp-accordion:hover {
        background: rgba(253, 176, 0, 0.8) !important;
    }

    h2.resp-tab-active {
        background: rgba(253, 176, 0, 0.8) !important;
    }
}

.skillbar-title, .skillbar-bar {
    background: rgba(253, 176, 0, 0.8);
}
